@CHARSET "UTF-8";

.factura-container {
	width: 8.5in;
	height: 11in;
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5in;
	padding-bottom: 0.5in;
	padding-left: 0.3in;
	padding-right: 0.3in;
	border: 1px solid #000;
}

.factura-container .content {
	width: 100%;
	height: 100%;
	background-color: white;
}

.factura-container .content .logo {
	width: 100%;
	height: 100%;
}

table {
	border: 2px solid #0084cf;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 10px;
}

table tr {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

table tr td {
	padding: 0px !important;
	text-align: center
}

table tr.active  td,table tr td.active {
	font-weight: bold;
	font-size: 10px;
}

.logo {
	margin-top: 20px;
}

.cliente table tr td.generales {
	width: 60%;
}

.cliente table tr td.pedido {
	width: 25%;
}

.cliente table tr td.fecha {
	width: 15%;
}

.cliente table tr td.generales-titulo {
	width: 10%;
}

.cliente table tr td.c1,.cliente table tr td.c3 {
	width: 10%;
	text-align: right;
	padding-right: 2px !important;
}

.cliente table tr td.c1-text,.cliente table tr td.c3-text {
	text-align: left;
	padding-left: 10px !important;
}

.cliente table tr td.c2,.cliente table tr td.c4 {
	width: 20%;
}

.b-right {
	border-right: 2px solid #0084cf;
}

.b-left {
	border-left: 2px solid #0084cf;
}

.b-top {
	border-top: 2px solid #0084cf !important;
}

.productos table tbody tr td.parte {
	width: 4%;
	max-width: 4%;
}

.productos table tbody tr td.cantidad {
	width: 4%;
	max-width: 4%;
}

.productos table tbody tr td.codigo {
	width: 30%;
	max-width: 30%;
}

.productos table tbody tr td.descripcion {
	width: 40%;
	max-width: 40%;
}

.productos table tbody tr td.unidad {
	width: 6%;
	max-width: 6%;
}

.productos table tbody tr td.unitario {
	width: 8%;
	max-width: 8%;
}

.productos table tbody tr td.importe {
	width: 8%;
	max-width: 8%;
}

.productos table td {
	border-right: 2px solid #0084cf;
}

.productos table td:last-child {
	border-right: none;
}

.productos table {
	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
}

.productos {
	height: 4in;
}

.bcode {
	width: 20%;
}

.sellos {
	width: 80%;
}

.break-word {
	word-break: break-all;
	word-wrap: break-word;
	font-size: 10px;
}

.table>thead>tr>.active,.table>tbody>tr>.active,.table>tfoot>tr>.active,.table>thead>.active>td,.table>tbody>.active>td,.table>tfoot>.active>td,.table>thead>.active>th,.table>tbody>.active>th,.table>tfoot>.active>th
	{
	background-color: #95ceef;
}